<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <div id="leaderboard"></div>
    </div>
    <div class="four wide column"></div>
</div>

<%= javascript_include_tag 'leaderboard', 'data-turbolinks-track' => true %>
