<%= render 'partials/sub_menu' %>
<h1 class="ui center aligned header"><%= params[:club_id] %></h1>
<div class="ui grid">
  <div class="one wide column"></div>
  <div class="three wide column">
    <div id="feed"></div>
  </div>
  <div class="one wide column"></div>
  <div class="ten wide column">
      <div id="rankings"></div>
  </div>
  <div class="one wide column"></div>
</div>
