@import '../node_modules/material-ui-sass/material-ui.scss';
@import './navbar/navbar';

html, body {
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
}

.page {
  height: 100%;
  width: 100%;
}

