<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <div id="feed"></div>
    </div>
    <div class="four wide column"></div>
</div>
<%= javascript_include_tag 'feed', 'data-turbolinks-track' => true %>