.idea*
Gemfile.lock
node_modules*
vendor/assets/semantic/dist/components/src*
vendor/assets/semantic/src*
vendor/assets/semantic/tasks*
tmp*
log*
*schema.rb
.rake_tasks~
**/.DS_Store

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/public/assets
client-bundle.js
client-bundle.js.map
node_modules
npm-debug.log
