<% if params[:club] %>
  <div class="ui basic segment center aligned">
    <a class="<%= 'active' if current_page?(action: 'feed') %> item" href="feed">Feed</a> |
    <a class="<%= 'active' if current_page?(action: 'leaderboard') %> item" href="leaderboard">Leaderboard</a>
  </div>
<% end %>
