<%= render 'partials/sub_menu' %>
<div class="ui grid">
  <div class="four wide column">
    <div id="feed"></div>
  </div>
  <div class="eight wide column">
    <div id="leaderboard"></div>
  </div>
</div>
