.home-page {
  .text {
    font-size: 4em;
  }

  .subtext {
    font-size: 2em;
  }

  .text, .subtext {
    text-align: center;
    padding-top: 20px;
    color: $light-blue-50;
    text-shadow: 1px 1px 1px $light-blue-900;
  }
}