<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <h4>What ranking system does this app use?</h4>
        <span>
            This app uses the <a href="https://en.wikipedia.org/wiki/Elo_rating_system" target="_blank">Elo ranking system</a>, commonly found in Chess ranking. Specifically, this
            app uses <a href="https://github.com/iain/elo" target="_blank">the Ruby Elo gem</a>. The source code can be found on <a href="https://github.com/jadekler/git-reactjs-pongboard" target="_blank">GitHub</a>.
        </span>
        <h4>Where is this data coming from?</h4>
        <span>For now, the data comes from <a href="http://racquet.io" target="_blank">racquet.io</a>.
    </div>
    <div class="four wide column"></div>
</div>
