<div class="ui three column grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="http://res.cloudinary.com/htjx6x6zp/image/upload/c_fill,h_120,w_120/v1434049932/production-pivotal-denver.png">
      </div>
      <div class="content">
        <a class="header" href="/pivotal-denver/leaderboard">Pivotal Denver</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="http://res.cloudinary.com/htjx6x6zp/image/upload/c_fill,h_120,w_120/v1427910992/production-pivotal-labs-chicago.png">
      </div>
      <div class="content">
        <a class="header" href="/pivotal-labs-chicago/leaderboard">Pivotal Labs Chicago</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="http://res.cloudinary.com/htjx6x6zp/image/upload/c_fill,h_120,w_120/v1434051281/production-pivotal-toronto.png">
      </div>
      <div class="content">
        <a class="header" href="/pivotal-toronto/leaderboard">Pivotal-Toronto</a>
      </div>
    </div>
  </div>
</div>
