<!-- index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Hello React</title>
        <%= stylesheet_link_tag "application", media: "all" %>
    </head>
    <body>
        <div class="ui inverted segment">
            <button class="ui inverted red button active">Red</button>
        </div>

        <div id="content"></div>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    </body>
</html>