<div class="ui three item green inverted large menu app-header">
  <a class="<%= 'active' if current_page?('/clubs') %> item" href="/">Clubs</a>
  <a class="<%= 'active' if current_page?('/about') %> item" href="/about">About</a>
  <div class="item">
    <form class="ui fluid form" id="add-match">
      <div class="two fields">
        <div class="field">
          <input name="winner" placeholder="@winner" type="text">
        </div>
        <div class="field">
          <input name="loser" placeholder="@loser" type="text">
        </div>
        <button class="ui icon button" type="submit">
          <i class="checkmark box icon"></i>
        </button>
      </div>
    </form>
  </div>
</div>
