<div class="ui three item green inverted large menu app-header">
  <a class="<%= 'active' if current_page?('/clubs') %> item" href="/">Clubs</a>
  <a class="<%= 'active' if current_page?('/about') %> item" href="/about">About</a>
  <div class="item" id="newMatchForm">
  </div>
</div>
